anyio==3.5.0
asgiref==3.5.0
click==8.1.2
fastapi==0.75.1
greenlet==1.0.0
h11==0.13.0
httptools==0.4.0
idna==3.3
msgpack==1.0.2
pydantic==1.9.0
pynvim==0.4.3
python-dotenv==0.20.0
PyYAML==6.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
tabulate==0.8.9
typing_extensions==4.1.1
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
websockets==10.2
